scripts/downloaded_validation_script.sh
scripts/validation_script-config.yaml
validation_results/**
fhirpkg.lock.json
DiPag-Fachdienst-dev-0.2.0-Parametrisierbar-schrittweise/**
testclient/**

Resources/input-cache/**
Resources/output/**
Resources/temp/**
Resources/template/**
Resources/Requirements-fromNarrative.json